html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.mq {
  font-family: 'pc';
}
@media only screen and (max-width: 900px) {
  .mq {
    font-family: 'mobile';
  }
}
*,
::after,
::before {
  box-sizing: border-box;
  outline: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-family: Helvetica, "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 12px;
}
body {
  background: #000;
  color: #fff;
}
.tab {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #808080;
  font-size: 1.4rem;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  z-index: 99;
}
.tab div {
  margin: 0 1rem;
  cursor: pointer;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
  background: #000;
}
.highlight {
  background: #f00;
}
.detail {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  font-size: 2rem;
}
@media only screen and (max-width: 900px) {
  .detail {
    font-size: 1rem;
  }
}
.detail .cell {
  padding: 0.6em 0.3em;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.detail span {
  color: #333;
  padding-right: 0.3em;
}
.cut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
}
.cut__number {
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  font-size: 3em;
  text-align: center;
}
.cut__title {
  -webkit-box-flex: 4;
  -o-box-flex: 4;
  -ms-box-flex: 4;
  box-flex: 4;
  -ms-flex-positive: 4;
      flex-grow: 4;
}
.cut__name {
  font-size: 2em;
}
.cut__set-type {
  -webkit-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -ms-flex-positive: 2;
      flex-grow: 2;
  font-size: 3em;
}
.range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  font-size: 2em;
}
.range__inout {
  -webkit-box-flex: 3;
  -o-box-flex: 3;
  -ms-box-flex: 3;
  box-flex: 3;
  -ms-flex-positive: 3;
      flex-grow: 3;
}
.range__duration {
  -webkit-box-flex: 2;
  -o-box-flex: 2;
  -ms-box-flex: 2;
  box-flex: 2;
  -ms-flex-positive: 2;
      flex-grow: 2;
}
.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  text-align: center;
}
.member__one {
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.member__value {
  font-size: 1.5em;
  line-height: 0.8em;
  height: 2em;
}
.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: stretch;
  -o-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.text__one {
  -webkit-box-flex: 1;
  -o-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.text__title {
  text-align: center;
}
.text__value {
  height: 10em;
}
button.action__action {
  text-align: center;
  font-size: 8rem;
  width: 6em;
  margin: 0 auto;
}
.centerize-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.shooting__count {
  margin: 0 auto;
  font-size: 24rem;
}
.shooting__progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 20;
  mix-blend-mode: difference;
}
