@import 'nib'

global-reset()


notext()
	white-space nowrap
	text-indent -9999px
	overflow hidden

uniform-centerize()
	display flex
	flex-direction column
	justify-content center

// tablet()
// 	@media only screen and (max-width: 960px)
// 			{block}

mobile()
	@media only screen and (max-width: 640px)
		{block}

.mq
	font-family 'pc'
	+mobile()
		font-family 'mobile'


//--------------------------------------------------

*, ::after, ::before
	box-sizing: border-box
	outline none

::selection,
::-moz-selection,
::-webkit-selection
	background white

[v-cloak]
	visibility hidden

.center
	position fixed
	left 50%
	top 0
	width 1px
	height 100%
	background-color white
	// opacity 0
	z-index: 99


.center-h
	position fixed
	left 0
	top 50%
	width 100%
	height 1px
	background-color white
	// opacity 0
	z-index: 99

html, body
	width 100%
	height 100%
	height 100vh

html
	font-family: "liberation-sans", Helvetica, "游ゴシック体", "Yu Gothic", YuGothic, sans-serif
	font-smoothing antialiased
	-moz-osx-font-smoothing: grayscale
	font-size 18px

	+mobile()
		font-size 16px

body
	background black
	color white
	line-height 2.2

	+mobile()
		display block
		line-height 1.8

a
	cursor pointer
	text-decoration none
	box-shadow inset 0 -2px 0 white

	&:link, &:visited
		color white

	&:hover
		background-color white

	&:focus
		background-color transparent

	// .mobile &
	// 	background-color transparent !important

	&.inv
		&, &:link, &:visited
			background-color white
			box-shadow none
			margin-left 0.15em
			margin-right 0.1em

			// .mobile &
			// 	box-shadow inset 0 -2px 0 white

		&:hover,
		&.active
			background-color transparent

.content
	max-width 46rem
	margin 0 auto
	padding 2rem 0.4rem
	text-align center
	// text-align justify
	// word-break keep-all

	.mobile &
		padding-top 100vh


	+mobile()
		text-align justify
		// word-break break-all
		// padding-bottom 0

.background
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	z-index -10
	background-size cover
	background-position 50% 50%
	opacity 0.7
	transition opacity .2s ease

	&.hidden
		opacity 0


//--------------------------------------------------
// title

.page-wrapper
	height 100%

	.centerize &
		uniform-centerize()


.title-wrapper

	.mobile &
		position absolute
		top 0
		left 0
		width 100vw
		height 100vh
		uniform-centerize()
		transition height .4s ease
		// background red

.title
	width 10em
	margin 0 auto
	position relative

	.mobile &
		width 9rem
		margin-top 1.6rem

.title__text
	position absolute
	visibility hidden

.title__logo
	position relative
	left -10%
	width 100%
	height auto


//--------------------------------------------------
// section

hgroup
	margin-bottom 3rem
	// background red

p
	margin-bottom 2rem

	&.right
		font-size 0.8rem
		text-align right

$split-width=1.5rem

.split
	height 1px
	width $split-width * 4rem
	margin-bottom 2rem
	border 0
	background-color transparent
	background-image linear-gradient(to right, transparent 25%, white 25%, white 75%, transparent 75%)
	background-size $split-width 100%
	background-repeat repeat-x


	+mobile()
		margin-left 0rem

//--------------------------------------------------
// contact

address
	+mobile()
		margin-bottom 4rem
		font-size 0.9rem
